<!DOCTYPE html>
<html>
<head>
  <title>SPFS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "e1e3e7e7-862c-4d80-96e1-2e7f5780a6b3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <%= render 'layouts/navbar' %>
    </div>
  </div>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
